.navbar {
    justify-content: space-between;
}

span {
    padding-right: 12px;
    font-size: 12px;
    color: aliceblue;
}
.iconLGO{
    width: 110px;
    height: 30px;
}


.lab{
    color: #000000;
}
.register{
    background: white;
    left: 100px;
    position: absolute;
    width: 300%;
}

.headerModal{
    margin-top: 30px;
    width: 100% !important;
    
}

.fntCreate{
    font-size: 25px;
    font-weight: bold;
    color: #39c84c;
}

.imgLicencia{
    // background: url('../../../assets/img/driving-license.png');
    width: 110px;
    height: 100px;
}

.dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    font-weight: 200;
    height: 300px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: white;
    margin: 10px 0;

    &.hovering {
        border: 2px solid #f16624;
        color: #dadada !important;
    }

    .file-label {
        font-size: 1.2em;
    }
}


  
  .image-upload-container {
    cursor: pointer;
  }
  
  .img-preview-container {
    background-color: #f7f7f7;
    position: relative;
  
    .img-preview {
      background: center center no-repeat;
      background-size: contain;
      height: 116px;
      width: 116px;
  
      &-error {
        display: none;
      }
    }
  }
  
  .img-loading-overlay {
      background-color: black;
      bottom: 0;
      left: 0;
      opacity: .2;
      position: absolute;
      right: 0;
      top: 0;
  }
  
