<mat-toolbar class="navbar mat-elevation-z5" style="background: #222222">
  <img src="../../../assets/img/logo.png"  class="iconLGO" alt="">
  <div>
      
      <button type="button" class="btn btn-link"  data-toggle="modal" data-target="#exampleModal">
        <span >Login</span>
      </button>
      
      <span>Registro</span>
  </div>
</mat-toolbar>
  

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="wrapperLogin">

      </div>
         
            <div class="">
              <span class="login100-form-title-1">
                Login
              </span>
            </div>
      
            <form class="login100-form validate-form">
              <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                <span class="label-input100 lab">Usuario</span>
                <input class="input100" type="text" name="username" placeholder="Ingrese nombre de usuario">
                <span class="focus-input100"></span>
              </div>
      
              <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                <span class="label-input100 lab">Contraseña</span>
                <input class="input100" type="password" name="pass" placeholder="Ingrese Contraseña">
                <span class="focus-input100"></span>
              </div>
      
              <div class="flex-sb-m w-full p-b-30">
                <div class="contact100-form-checkbox">
                  <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                  <label class="label-checkbox100" for="ckb1">
                    Remember me
                  </label>
                </div>
      
              </div>
      
              <div class="container-login100-form-btn">
                <button class="btn btn-success">
                  Iniciar sesion
                </button>
              </div>
            </form>
          




    </div>
  </div>
</div>


