<mat-toolbar class="navbar mat-elevation-z5" style="background: #222222">
  <img src="../../../assets/img/logo.png" class="iconLGO" alt="">
  <div>

    <button type="button" (click)="predeterm()" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
      <span>Login</span>
    </button>

    <span>Registro</span>
  </div>
</mat-toolbar>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" *ngIf="login" role="document">
    <div class="modal-content">

      <div class="wrapperLogin">

      </div>

      <div class="">
        <span class="login100-form-title-1">
          Login
        </span>
      </div>

      <form class="login100-form validate-form">
        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
          <span class="label-input100 lab">Usuario</span>
          <input class="input100" type="text" name="username" placeholder="Ingrese nombre de usuario">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
          <span class="label-input100 lab">Contraseña</span>
          <input class="input100" type="password" name="pass" placeholder="Ingrese Contraseña">
          <span class="focus-input100"></span>
        </div>

        <div class="flex-sb-m w-full p-b-30">
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
              Remember me
            </label>
          </div>

        </div>

        <div class="container-login100-form-btn">
          <button class="btn btn-success">
            Iniciar sesion
          </button>
        </div>
        <br>
        <button class="btn btn-outline" (click)="registro()">
          Registrarse
        </button>
      </form>





    </div>
  </div>
  <div class="modal-dialog modal-lg" *ngIf="!login" role="document">
    <div class="modal-content">

      <div class="headerModal" align="center">
        <label class="fntCreate">Crear cuenta</label>
      </div>
      <br>
      <mat-horizontal-stepper [linear]="false" #stepper>

        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">

            <ng-template matStepLabel>Datos de usuario</ng-template>

   
            <div class="row">
              <div class="col-sm-6" align="center">
                  <mat-radio-group aria-label=""  formControlName="tipo" required>
                      <label for="">Soy&nbsp;&nbsp;</label>
                      <mat-radio-button value="empresa">Empresa</mat-radio-button>&nbsp;
                      <mat-radio-button value="usuario">Usuario</mat-radio-button>
                  </mat-radio-group>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6" align="center">
                <mat-form-field>
                  <input matInput placeholder="Nombre completo" formControlName="name" required>
                </mat-form-field>
              </div>
              <div class="col-sm-6" align="center">
                <mat-form-field>
                  <input matInput placeholder="Rut" maxlength="9" formControlName="rut" required>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6" align="center">
                <mat-form-field>
                  <input matInput placeholder="Direccion" >
                </mat-form-field>
              </div>
              <div class="col-sm-6" align="center">
                <mat-form-field>
                  <input matInput placeholder="Celular" formControlName="cel" required>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6" align="center">
                <mat-form-field>
                  <input matInput placeholder="Correo" type="email" formControlName="email" required>
                </mat-form-field>
              </div>
              <div class="col-sm-6"align="center">
                  <mat-form-field>
                    <input matInput placeholder="Contraseña" type="password" formControlName="pass" required>
                  </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12" align="center" >
                  <button mat-button matStepperNext (click)="nextSubmit()" color="#39c84c">Siguiente</button>

              </div>
            </div>

          </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">


          <form [formGroup]="secondFormGroup">

            <ng-template matStepLabel>Documentos de usuario</ng-template>

            <div class="row" align="center">
              <div class="col-sm-6">
                <label for="">Adjuntar Licencia</label><br>

                <label class="image-upload-container btn btn-bwm">
                  <input #imageInput1
                         type="file"
                         accept="image/*"
                         (change)="processFile(imageInput1, '1')">
                </label>

                <div *ngIf="selectedFile1" class="img-preview-container">
                   <div class="img-preview{{selectedFile1.status === 'fail' ? '-error' : ''}}"
                       [ngStyle]="{'background-image': 'url('+ selectedFile1.src + ')'}">
                    </div>
                </div>



              </div>
              <div class="col-sm-6">
                <label for="">Adjuntar Certificado Antecedentes</label><br>
                <label class="image-upload-container btn btn-bwm">
                    <input #imageInput2
                           type="file"
                           accept="image/*"
                           (change)="processFile(imageInput2, '2')">
                  </label>
  
                  <div *ngIf="selectedFile2" class="img-preview-container">
                     <div class="img-preview{{selectedFile2.status === 'fail' ? '-error' : ''}}"
                         [ngStyle]="{'background-image': 'url('+ selectedFile2.src + ')'}">
                      </div>
                  </div>

              </div>

            </div>
            <div class="row" align="center">
              <div class="col-sm-12">
                <label for="">Adjuntar Carnet identidad</label><br>
                <label class="image-upload-container btn btn-bwm">
                    <input #imageInput3
                           type="file"
                           accept="image/*"
                           (change)="processFile(imageInput3, '3')">
                  </label>
  
                  <div *ngIf="selectedFile3" class="img-preview-container">
                     <div class="img-preview{{selectedFile3.status === 'fail' ? '-error' : ''}}"
                         [ngStyle]="{'background-image': 'url('+ selectedFile3.src + ')'}">
                      </div>
                  </div>
              </div>
            </div>


            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Validacion</ng-template>
          You are now done.
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>



    </div>
  </div>
</div>