<section id="main">
  <section id="content">
    <div class="body" align="center">

      <div class="center-wrapper">
        <p class="font-text-title">Perfil</p>

        <div class="ctr-body">
          <br>
          <div class="row">
              <div class="col-sm-12" align="left">
                  <p for=""><strong>Nombre: </strong>
                    {{itemData.name}}
                  </p>
  
              </div>
            </div>
          <div class="row" align="left">
            <div class="col-sm-4">
              <p for=""><strong>Rut: </strong>
                {{itemData.rut}}

              </p>
            </div>
            <div class="col-sm-4"></div>
            <p for=""><strong>Correo: </strong>
              {{itemData.mail}}

            </p>
            <div class="col-sm-4">
              <p for=""><strong>Celular: </strong>
                {{itemData.phone}}

              </p>
            </div>
          </div>
          <div class="row" align="left">
            <div class="col-sm-4">
              <p for=""><strong>Direccion: </strong>
                {{itemData.address}}

              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4" align="right">
                <img [src]="itemData.URL_licencia"
                  (click)="openURl(itemData.URL_licencia)"
                 style="width: 100px; height: 100px;">
            </div>
            <div class="col-sm-4"  align="center">
                <img [src]="itemData.URL_carnet" 
                (click)="openURl(itemData.URL_carnet)"
                style="width: 100px; height: 100px;">                
            </div>
            <div class="col-sm-4"  align="left">
                <img [src]="itemData.URL_antecedentes"
                (click)="openURl(itemData.URL_antecedentes)"
                 style="width: 100px; height: 100px;">                            
            </div>

          </div>



        </div>
      </div>

    </div>
  </section>
</section>