<section id="main">
  <section id="content">
    <div class="body" align="center">

      <div class="center-wrapper">
        <p class="font-text-title">Perfil</p>

        <div class="ctr-body">
          <div class="row">
            <div class="col-sm-12" align="center">

              <img src="http://placehold.it/140x140">

            </div>
          </div>
          <div class="row">
              <div class="col-sm-12" align="left">
                  <p for=""><strong>Nombre: </strong>

                  </p>
  
              </div>
            </div>
          <div class="row" align="left">
            <div class="col-sm-4">
              <p for=""><strong>Rut: </strong>

              </p>
            </div>
            <div class="col-sm-4"></div>
            <p for=""><strong>Correo: </strong>

            </p>
            <div class="col-sm-4">
              <p for=""><strong>Celular: </strong>

              </p>
            </div>
          </div>
          <div class="row" align="left">
            <div class="col-sm-4">
              <p for=""><strong>Direccion: </strong>

              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4" align="right">
                <img src="http://placehold.it/100x100">
            </div>
            <div class="col-sm-4"  align="center">
                <img src="http://placehold.it/100x100">
            </div>
            <div class="col-sm-4"  align="left">
                <img src="http://placehold.it/100x100">             
            </div>

          </div>



        </div>
      </div>

    </div>
  </section>
</section>