<section id="main">
    <section id="content">

        <div class="body" align="center">

            <mat-card class="head-card" align="center">

                <div class="row">
                    <div class="col-sm-12" align="left">
                        <label class="cSearch">Buscar</label>
                    </div>
                </div>

                <div class="row ctnBar" style="width: 90%;" align="center">

                    <div class="col-sm-12 col-md-4 col-xs-4" >

                        <mat-form-field>
                            <mat-label>Comuna</mat-label>
                            <mat-select [(ngModel)]="comuna" (selectionChange)="comunaSelected(comuna)">
                                <mat-option *ngFor="let item of comunas" [value]="item.id">
                                    {{item.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-sm-12 col-md-4 col-xs-4" align="center">

                        <mat-form-field>
                            <mat-label>Tipo de vehiculo</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let item of vehiculo" [value]="item.id">
                                    {{item.tipo}}
                                </mat-option>

                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div class="col-sm-12 col-md-4 col-xs-4" align="center">
                        <button class="btn btn-primary " type="button">
                            Buscar
                        </button>
                    </div>



                </div>
            </mat-card>
            <br><br>
            <mat-card class="centerWrapper" align="center">
                <div class="ctnList">


                    <br>
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-xs-4" *ngFor="let item of dataIN; let i = index">
                            <mat-card class="cardList" (click)="solicitarArriendo()" [routerLink]="['/Ficha']">
                                <div class="ctn-img">
                                    <img mat-card-image
                                    [src]="item.img1" class="img">
                                </div>
                           <div style="padding: 7px;">
                            <label class="marca">{{item.marca}}</label><br>
                            <label class="modelo">{{item.modelo}}</label>
                            <div class="row">
                                <div class="col-sm-6" align="left">
                                    <label class="year">AÑO: {{item.anio}}</label>
                                </div>
                                <div class="col-sm-6" align="right">
                                    <label class="plate">Patente: {{item.patente}}</label>
                                </div>
                            </div>
                            <div class="row foot">
                                <div class="col-sm-6" align="left">
                                    <label for="">Detalle</label>
                                </div>
                                <div class="col-sm-6" align="right">
                                    <label class="pricefn">${{item.valorDia}} x dia</label>
                                </div>
                            </div>
                           </div>
                            
                            </mat-card>
                            <br>
                        </div>
                    </div>


                </div>



            </mat-card>

        </div>

    </section>
</section>