
#main{
    background: linear-gradient(to left, #f8f8f8 0%, #f7f7f7 100%);     
}
#content{
    width: 100% !important;
}

.body{
    width: 100% !important;
    height: 100% !important;
}

.center-wrapper{
    // border: 1px solid red;
    width: 90%;
    height: auto;
    border-radius: 15px;
    background: white;
    -webkit-box-shadow: 0px 0px 35px -25px rgba(0,0,0,0.75);
}
.font-text-title{
    font-size: 25px;
    font-weight: bold;
}
.imageUp{
    border: 1px solid #39c84c;
    height: 50px !important;
    input{
        width: 0%;
        // height: 30px;
    }
}

.body-items{
    // border: 1px solid red;
    height: 83%;
    width: 85%;
    margin-top: 65px;
}

.example-full-width {
    width: 100%;
  }
  
input{
    height: 30px;
    font-size: 12px;
}
mat-select{
    height: 28px;
    font-size: 12px;
}

::placeholder {
    color: peachpuff;
    font-size: 13px;
  }

.inline{
    margin-left: 5px;
    // border: 1px solid #39c84c;
    // column-count: 4;
    // padding: 
}
.inline-ctn{
    column-count: 4;
}
.marg{
    height: 80px;
    // border: 1px solid red;
}


.image-upload-container {
    cursor: pointer;
  }
  
  .img-preview-container {
    background-color: #f7f7f7;
    position: absolute;
  
    .img-preview {
      background: center center no-repeat;
      background-size: contain;
      height: 80px;
      width: 90px !important;
  
      &-error {
        display: none;
      }
    }
  }
  
  .img-loading-overlay {
      background-color: black;
      bottom: 0;
      left: 0;
      opacity: .2;
      position: absolute;
      right: 0;
      top: 0;
  }
  
