<aside id="sidebar" class="sidebar c-overflow shadow">
    <div class="s-profile">
        <div class="picture">

          <div class="positionPic">
              <a href="" data-ma-action="profile-menu-toggle" align="center">
                  <div class="sp-pic"></div>
                  <br>
                  <p>Invitado</p>
                  <br>
                  <ul class="main-menu">
                      <li>
                          <a [routerLink]="['/login']"><i class="zmdi zmdi-walk"></i> Logout</a>
                      </li>
                  </ul>
              </a>
       
              

          </div>


      </div>


    </div>

    <ul class="main-menu">
       

    </ul>
</aside>