<aside id="sidebar" class="sidebar c-overflow _shadow">
    <div class="s-profile">
        <div class="picture">

          <div class="positionPic">
              <a href="" data-ma-action="profile-menu-toggle" align="center">
                  <div class="sp-pic"></div>
                  <br>
                  <p>{{UserName}}</p>
                  <br>
                  <ul class="main-menu">
                      <li>
                          <!-- <a [routerLink]="['/login']"><i class="zmdi zmdi-walk"></i> Logout</a> -->
                      </li>
                  </ul>
              </a>
          </div>
      </div>
    </div>

    <ul class="main-menu _menu-display"  *ngIf="!login">
        <li class=""><a [routerLink]="['/Login']"><i class="zmdi zmdi-account zmdi-hc-2x"></i>iniciar sesion</a></li>
        <!-- <li class=""><a [routerLink]="['']"><i class="zmdi zmdi-account zmdi-hc-2x"></i>iniciar sesion</a></li> -->
    </ul>
    
    <ul class="main-menu _menu-display" *ngIf="login">
        <li class=""><a [routerLink]="['']"><i class="zmdi zmdi-home zmdi-hc-2x"></i>Inicio</a></li>
        <li class=""><a [routerLink]="['']"><i class="zmdi zmdi-star-circle zmdi-hc-2x"></i>Publicar aviso</a></li>
        <li class=""><a [routerLink]="['']"><i class="zmdi zmdi-comment-image zmdi-hc-2x"></i>Solicitudes realizadas</a></li>
        <li class=""><a [routerLink]="['']"><i class="zmdi zmdi-comment-list zmdi-hc-2x"></i>Solicitudes recibidas</a></li>
        <li class="" (click)="closeSesion();"><a ><i class="zmdi zmdi-walk zmdi-hc-2x"></i>Cerrar sesion</a></li>



        
    </ul>
    
</aside>
