<section id="main">
  <section id="content">


    <div class="body" align="center">
      <div class="center-wrapper">

        <div class="row">
          <div class="col-sm-6 line">
            <br>
            <p class="titulo">Solicitudes Realizadas</p>
            <br>
            <div *ngIf="solicitudesR" class="noSolicitudes" align="center">
              <label for="">No hay solicitudes realizadas</label>
            </div>
            <div *ngIf="!solicitudesR" class="nSolicitudes" align="center">

              <div *ngFor="let item of _solicitudesR">
                <br>
                <div class="item">
                  <div class="row">
                    <div class="col-sm-12" align="center" style="font-size: 14px;">{{item.titulo}} #{{item.id}}</div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">{{item.comentario}}</div>
                  </div>
                  <div class="row">
                    <div class="col-sm-8">
                      <button mat-button style="color: rgb(0, 179, 0);">Aceptar</button>
                      <button mat-button color="warn">Rechazar</button>
                    </div>
                    <div class="col-sm-4">
                        <button mat-button color="primary">Ver perfil</button>
                    </div>
                  </div>
                </div>
              </div>

              <br>
            </div>
          </div>
          <div class="col-sm-6">
            <br>
            <p class="titulo">Solicitudes Enviadas</p>
            <div *ngIf="solicitudesE"></div>
            <br>
            <div *ngIf="solicitudesE" class="noSolicitudes" align="center">
              <label for="">No hay solicitudes enviadas</label>
            </div>
            <div *ngIf="!solicitudesE" class="nSolicitudes" align="center">
                <div *ngFor="let item of _solicitudesE">
                    <br>
                    <div class="item">
                      <div class="row">
                        <div class="col-sm-12" align="center" style="font-size: 14px;">{{item.titulo}} #{{item.id}}</div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">{{item.comentario}}</div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <!-- <button mat-button style="color: rgb(0, 179, 0);"></button> -->
                          <button mat-button color="warn">Eliminar</button>
                        </div>
                        <div class="col-sm-6" >
                            <button mat-button color="primary">Publicación</button>
                        </div>
                      </div>
                    </div>
                  </div>
    
            </div>

          </div>
        </div>




      </div>
    </div>

  </section>
</section>