<section id="main">
  <section id="content">
    <div class="body" align="center">

      <mat-card class="centerWrapper" align="center">
        <p class="font-text-title">Ficha del vehiculo</p>
        <br>
        <div class="ctr-body">

          <div class="row row-gallery">
            <div class="col-sm-5" align="right">
              <div class="image-gallery">
                <slideshow  [autoPlay]="true" 
                [showArrows]="false" [imageUrls]="images"
                  [showArrows]="true" [lazyLoad]="imageSources?.length > 1" [autoPlayWaitForLazyLoad]="true">

                </slideshow>

              </div>
            </div>
            <div class="col-sm-7" align="center">

              <div class="row row-style">
                <div class="col-sm-6" align="left">
                  <p for=""><strong>Publicante: </strong>
                    {{itemNombre}}
                  </p>
                </div>
                <div class="col-sm-6">
                  <a [routerLink]="['/Perfil', {Id: itemData.publicante}]">Perfil</a>
                </div>
              </div>
              <div class="row row-style" align="left">
                <div class="col-sm-3">
                  <p for=""><strong>Categoría: </strong>
                    {{itemData.categoria}}
                  </p>
                </div>
                <div class="col-sm-3">
                  <p for=""><strong>Marca: </strong>
                    {{itemData.marca}}
                  </p>
                </div>
                <div class="col-sm-3">
                  <p for=""><strong>Modelo: </strong>
                    {{itemData.modelo}}

                  </p>
                </div>
                <div class="col-sm-3">
                  <p for=""><strong>Año: </strong>
                    {{itemData.anio}}

                  </p>
                </div>
              </div>

              <div class="row row-style" align="left">
                <div class="col-sm-3">
                  <p for=""><strong>Combustible: </strong>
                    {{itemData.combustible}}

                  </p>
                </div>
                <div class="col-sm-3">
                  <p for=""><strong>Transmisión: </strong>
                    {{itemData.transmision}}

                  </p>
                </div>
                <div class="col-sm-3">
                  <p for=""><strong>Cilindraje: </strong>
                    {{itemData.cilindraje}}

                  </p>
                </div>
                <div class="col-sm-3">
                  <p for=""><strong>Capacidad: </strong>
                    {{itemData.capacidad}}

                  </p>
                </div>
              </div>

              <div class="row row-style" align="left">
                <div class="col-sm-4">
                  <p for=""><strong>Fecha Publicación: </strong>
                    {{itemData.fechaPublicacion}}

                  </p>
                </div>
                <div class="col-sm-4">
                  <p for=""><strong>Valor x Dia: </strong>
                    &nbsp;
                    <label style="color: green; font-size: 12px; font-weight: bold;">
                      {{itemData.valorDia}}
                    </label>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p for=""><strong>Valor x Hora: </strong>
                    &nbsp;
                    <label style="color: green; font-size: 12px; font-weight: bold;">
                      {{itemData.valorHora}}
                    </label>
                  </p>

                </div>
              </div>
              <div class="row row-style" align="left">
                <div class="col-sm-12">
                  <p for=""><strong>Descripción: </strong>
                    {{itemData.descripcion}}
                  </p>
                </div>
              </div>
              <br><br>
              <div class="row row-btn">

                <div class="col-sm-8">
                    <mat-form-field  class="example-full-width">
                  <textarea matInput rows="3" id="comentario" #comentario placeholder="Agrega un comentario al crear tu solicitud"></textarea>
                  </mat-form-field>
                </div>
                <div class="col-sm-4" align="right">
                  <button mat-raised-button style="background: green; color: white;" (click)="crearSolicitud()">Crear Solicitud</button>
                </div>
              </div>


            </div>
          </div>
        </div>


        <br><br>

      </mat-card>


    </div>
  </section>
</section>