<section id="main">
  <section id="content">
    <div class="body" align="center">

      <mat-card class="centerWrapper" align="center">
        <p class="font-text-title">Ficha del vehiculo</p>
        <br>
        <div class="ctr-body">

          <div class="row row-gallery">
            <div class="col-sm-5" align="right">
                <div class="image-gallery">

                </div>
            </div>
            <div class="col-sm-7" align="center">

              <div class="row row-style" >
                <div class="col-sm-6" align="left">
                  <p for=""><strong>Publicante: </strong>
                    
                  </p>
                </div>
                <div class="col-sm-6" >
                    <a [routerLink]="['/Perfil']">Perfil</a>
                </div>
              </div>
              <div class="row row-style" align="left">
                <div class="col-sm-3">
                    <p for=""><strong>Categoría: </strong>
                    
                    </p>
                </div>
                <div class="col-sm-3">
                    <p for=""><strong>Marca: </strong>
                    
                    </p>
                </div>
                <div class="col-sm-3">
                    <p for=""><strong>Modelo: </strong>
                    
                    </p>
                </div>
                <div class="col-sm-3">
                    <p for=""><strong>Año: </strong>
                    
                    </p>
                  </div>
              </div>

              <div class="row row-style"  align="left">
                  <div class="col-sm-3" >
                      <p for=""><strong>Combustible: </strong>
                      
                      </p>
                  </div>
                  <div class="col-sm-3">
                      <p for=""><strong>Transmisión: </strong>
                      
                      </p>
                  </div>
                  <div class="col-sm-3">
                      <p for=""><strong>Cilindraje: </strong>
                      
                      </p>
                  </div>
                  <div class="col-sm-3">
                      <p for=""><strong>Capacidad: </strong>
                      
                      </p>
                    </div>
                </div>

                <div class="row row-style"  align="left">
                  <div class="col-sm-4">
                      <p for=""><strong>Fecha Publicación: </strong>
                      
                      </p>
                  </div>
                  <div class="col-sm-4">
                      <p for=""><strong>Valor x Dia: </strong>
                      
                      </p>
                  </div>
                  <div class="col-sm-4">
                      <p for=""><strong>Valor x Hora: </strong>
                      
                      </p>
                  </div>
                </div>
                <div class="row row-style" align="left">
                  <div class="col-sm-12">
                      <p for=""><strong>Descripción: </strong>
                      
                      </p>
                  </div>
                </div>
                <br><br>
                <div class="row row-btn">

                  <div class="col-sm-12" align="right">
                      <button mat-raised-button style="background: green; color: white;">Crear Solicitud</button>
                  </div>
                </div>


            </div>
          </div>
        </div>


        <br><br>

      </mat-card>


    </div>
  </section>
</section>